PORT=3001
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/akara_lms?schema=public"

BETTER_AUTH_SECRET="replace-with-a-32-char-random-secret"
BETTER_AUTH_URL="http://localhost:3001"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000"

CORS_ORIGIN="http://localhost:3000"
CSRF_ENABLED=false

codex resume 019e3315-66da-7f71-9de6-928cfe38c6c3
codex resume 019e3315-66da-7f71-9de6-928cfe38c6c3